/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #222;
}

/* || VARIABLES*/

:root {
  --BGCOLOR: red;
  --BORDER-COLOR: black;
}

/* || GENERAL STYLES */
/* || UTILITIES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* BEM */

/* MAIN */

main {
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 120px 3fr;
}

/* HEADER */

.header {
  grid-column: 1 / 3;
  margin: auto;
}

/* MENU */

.menu {
  height: 40px;
  width: fit-content;
  margin: auto;
}

.button__container {
  display: flex;
  justify-content: center;
}

/* HERO */

.hero {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  grid-template-rows: 300px 300px;
}

/* CARD */

.card {
  background-color: grey;
}

/* BUTTON */

.newBook {
  text-transform: uppercase;
  height: 50px;
  width: 120px;
}

/* MEDIA */
/* Small */
@media (min-width: 576px) {
}
/* Medium */
@media (min-width: 768px) {
}
/* Large */
@media (min-width: 992px) {
}
/* X-Large */
@media (min-width: 1200px) {
}
